**pycache**/
*.py[cod]
*$py.class

venv/
.env/
.venv/

.env
.env.*

*.log

.coverage
htmlcov/
.pytest_cache/

dist/
build/
*.egg-info/

.git
.gitignore

.DS_Store

.vscode
.idea

Dockerfile
.dockerignore
